#main_content{
	margin: 10px 0px;
	display: block;
	min-height: 800px;
	background-color: #f2f2f2;
	padding: 10px;
	box-shadow: 5px 5px 3px #cccccc;
}

.post{
	display: block;
	margin-bottom: 10px;
	word-wrap: break-word;
}
.post_title{
	font-size: 35px;
	text-indent: 10px;
}
.post_text{
	display: block;
	margin: 5px 0px;
	text-indent: 30px;
}
.post_small_heading{
	font-size: 21px;
	text-indent: 10px;
}
.post img{
	width: 40%;
}

.bold{
	font-weight: bold;
}
.link{
	color: #3385ff;
}
.link:hover{
	text-decoration: underline;
	cursor: pointer;
}
.top{
	vertical-align: top;
	font-size: 12px;
}