body{
	background-color: #e6e6e6;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
}

#page_wrapper{
	display: block;
	width: 80%;
	margin: 0px auto;
	min-height: 800px;
	background-color: white;
}