body{
	background-color: #e6e6e6;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
	line-height: 1.2;
	word-spacing: 1.5px;
}

#page_wrapper{
	display: block;
	width: 80%;
	margin: 0px auto;
}