#main_content{
	margin: 10px 0px;
	display: inline-block;
	min-height: 800px;
	background-color: #f2f2f2;
	padding: 10px;
	box-shadow: 5px 5px 3px #cccccc;
	width: 80%;
}
#side_pannel{
	display: inline-block;
	flex: 1;
	margin: 10px 0px;
	margin-left: 10px;
	padding: 10px;
	min-height: 800px;
	background-color: #f2f2f2;
	box-shadow: 5px 5px 3px #cccccc;
}
#content_wrapper{
	display: flex;
}

.post{
	display: block;
	margin-bottom: 20px;
	word-wrap: break-word;
}
.post_text{
	display: block;
	margin: 5px 0px;
	text-indent: 30px;
}
.post_small_heading{
	font-size: 30px;
	text-indent: 10px;
}
.post_img{
	width: 40%;
}

.heading{
	display: block;
	overflow: hidden;
	height: 85px;
}
.post_img_avatar{
	display: inline-block;
	height: 100%;
	float: left;
}
.post_title_wrap{
	display: inline-block;
	height: 100%;
	width: 60%;
}
.post_title{
	display: block;
	width: 100%;
	font-size: 40px;
	line-height: 0.8;
	height: 50%;
	margin-left: 5px;
}
.post_author{
	margin-left: 5px;
	height: 50%;
	vertical-align: bottom;
	font-size: 19px;
	font-style: italic;
}
.post_author p{
	
}

.bold{
	font-weight: bold;
}
.link{
	color: #3385ff;
}
.link:hover{
	text-decoration: underline;
	cursor: pointer;
}
.top{
	vertical-align: top;
	font-size: 12px;
}