<title>Ideas</title>
<meta charset="utf-8">

<!--CSS-->
<link rel="stylesheet" type="text/css" href="../stylesheets/reset.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/main.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/nav.css">
<link rel="stylesheet" type="text/css" href="../stylesheets/content.css">

<!--Fonts-->
<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>