<!DOCTYPE html>
<html>
<head>
	<% include templates/header.ejs %>
</head>

<body>
	<div id="page_wrapper">
		<% include templates/nav.ejs %>

		<div id="content_wrapper">

			<div id="main_content">
				<p>Name: <%= user_name %></p>
				<p>Email: <%= user_email %></p>
				<br>

				<% include templates/article.ejs %>
			</div>

		</div>
	</div>
</body>
</html>