<!DOCTYPE html>
<html>
<head>
	<% include templates/header.ejs %>
</head>

<body>
	<div id="page_wrapper">
		<% include templates/nav.ejs %>

		<div id="content_wrapper">

			<div id="main_content">
				<% include templates/sample_article.ejs %>
			</div>

			<div id="side_pannel">
				
			</div>

		</div>
	</div>
</body>
</html>