<!DOCTYPE html>
<html>
<head>
	<title>Ideas</title>
	<meta charset="utf-8">

	<!--CSS-->
	<link rel="stylesheet" type="text/css" href="stylesheets/reset.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/nav.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/content.css">

	<!--Fonts-->
	<link href='https://fonts.googleapis.com/css?family=Playfair+Display' rel='stylesheet' type='text/css'>
</head>

<body>
	<div id="page_wrapper">
		<nav id="top_nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li class="dropdown">
					<a href="/browse">Browse</a>
					<div class="dropdown_content">
						<a href='/browse/games'>Games</a>
						<a href="/browse/movies">Movies</a>
						<a href="/browse/books">Books</a>
						<a href="/browse/uncategorised">Uncategorised</a>
					</div>
				</li>
				<span class="right">
					<li class="right"><a href="/login">Login</a></li>
					<li class="right"><a href="/register">Register</a></li>
				</span>
			</ul>
		</nav>

		<div id="content_wrapper">

			<div id="main_content">
				<form action="/login/submit" method="post">
					<p>Login</p>
					<% if(messages.length > 0){ %>
						<% for(var i = 0; i < messages.length; i++){ %>
							<p style="color: red"><%= messages[i] %></p>
						<% } %>
					<% } %>
					<input id="email" type="text" name="email"><label for="email"> Email</label><br>
					<input id="password" type="password" name="password"><label for="password"> Password</label><br>
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<input type="submit" value="Login">
				</form>
			</div>

			<div id="side_pannel">
				<p>Some stuff</p>
			</div>

		</div>
	</div>
</body>
</html>