<!DOCTYPE html>
<html>
<head>
	<% include templates/header.ejs %>
</head>

<body>
	<div id="page_wrapper">
		<% include templates/nav.ejs %>

		<div id="content_wrapper">

			<div id="main_content">
				<form action="/post/submit" method="post">
					<p>Make a post</p>
					<div class="input_row">
						<input type="text" name="post_title" autofocus required>
						<label for="post_title">Title </label>
					</div>
					<div class="input_row t">
						<textarea name="post_text" required></textarea>
						<label for="post_text">Text </label>
					</div>

					<select class="status" name="status" value="post">
						<option value="post">Post</option>
						<option value="draft">Draft</option>
					</select>

					<input type="submit" value="Post" class="submit">
				</form>
			</div>

			<div id="side_pannel">
				
			</div>

		</div>
	</div>
</body>
</html>